<h2 class="text-center m-4">{{isEditing ? "Edit" : "Create"}} Employee</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form *ngIf="errorMessage === ''" (ngSubmit)="onSubmit()" #employeeForm="ngForm" class="border rounded p-5 w-50 mb-50 mx-auto">

    <div class="mb-3">
        <label class="form-label">First Name*</label>
        <input required #firstName="ngModel" class="form-control" type="text" name="firstName" [(ngModel)]="employee.firstName"/>
        
        <!-- dirty means this input was typed -->
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div class="text-danger" *ngIf="firstName.errors?.['required']">First Name is required.</div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input required #lastName="ngModel" class="form-control" type="text" name="lastName" [(ngModel)]="employee.lastName"/>
    
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div class="text-danger" *ngIf="lastName.errors?.['required']">Last Name is required.</div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input required #phone="ngModel" class="form-control" type="text" name="phone" [(ngModel)]="employee.phone"/>
    
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <div class="text-danger" *ngIf="phone.errors?.['required']">Phone number is required.</div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input required email #email="ngModel" class="form-control" type="email" name="email" [(ngModel)]="employee.email"/>
    
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="text-danger" *ngIf="email.errors?.['required']">E-mail address is required.</div>
            <div class="text-danger" *ngIf="email.errors?.['email']">E-mail address is invalid.</div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Position</label>
        <input required #position="ngModel" class="form-control" type="text" name="position" [(ngModel)]="employee.position"/>
    
        <div *ngIf="position.invalid && (position.dirty || position.touched)">
            <div class="text-danger" *ngIf="position.errors?.['required']">Employee position is required.</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Submit</button>
</form>
